.ui.card .meta.website {
  color: rgb(248, 187, 46) !important;
  cursor: pointer;
}

.ui.card .meta.website:hover {
  color: rgb(247, 209, 121) !important;
  cursor: pointer;
}

/* .ui.card .meta.website:visited {
  color: black !important;
  cursor: pointer;
} */

.ui.card {
  border-width: 4px;
}

.breweryimage {
  width: 400px;
  height: 250px;
}

.ui.card, .ui.cards>.card {
  box-shadow: none !important;
  /* border: 1px solid rgb(248, 187, 46) !important; */
  border: 1px solid black !important;
}

.ui.card>.extra, .ui.cards>.card>.extra {
  border: none !important; 
}

.ui.card>.content, .ui.cards>.card>.content {
  /* border-top: 1px solid rgb(232, 188, 86) !important;
  border-bottom: 1px solid rgb(232, 188, 86) !important; */
  border-top: 1px solid black !important;
  border-bottom: 1px solid black !important;

}


