.login-logo {
  position: absolute !important;
  width: 25%;
  height: 25%;
  left: 10%;
  top: 700%;
}

.login-form {
  position: absolute;
  top: 485%;
  right: 8%;
  border-left-style: dotted;
  border-left-width: 10px;
  padding-left: 5%;
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
  border: 2px solid rgb(248, 187, 46) !important;
}