.login-logo {
  position: relative !important;
  width: 30%;
  height: 35%;
  left: 6%;
  right: 90%;
  top: 50%;
}

.login-form {
  position: relative !important;
  width: 500px;
  top: 6%;
  left: 50%;
  border-left-style: dotted;
  border-left-width: 10px;
  padding-left: 17%;
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
  border: 2px solid rgb(248, 187, 46) !important;
}