.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui) {
  color: black !important;
}
/* 
.ui.menu .item {
  padding-top: .5em !important;
  padding-bottom: .5em !important;
  padding-right: 1em !important;
  padding-left: 1em !important;
} */

.item:hover .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

}