.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form {
  border-style: double;
  width: 600px;
  padding: 30px;
  /* padding-bottom: 30px;
  padding-top: 30px; */
  border-color: rgb(235, 232, 232);
  border-width: 4px;
  border-radius: 1%;
}

#to-top {
  position: fixed;
  width: 33px;
  height: 30px;
  left: 95%;
  top: 92%;
  background-color: rgb(248, 187, 46);
  border-radius: 100%;
  cursor: pointer;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  color: rgb(248, 187, 46);
  text-align: center;
}

.svg-map {
  width: 800px !important;

}

.svg-map__location {
  stroke: rgb(248, 187, 46)  !important;
  fill: black!important;
  stroke-width: 1.3 !important;

}

path:hover, circle:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: white !important;
  cursor: pointer;
}

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

.pleasework {
  padding-left: 1px;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
