.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#to-top {
  position: fixed;
  left: 96%;
  top: 93%;
  background-color: rgb(248, 187, 46);
  border-radius: 20%;
  /* margin-top: 10px; */
  cursor: pointer;
}

#to-top:hover {
  background: rgb(238, 196, 99);
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  /* color: rgb(248, 187, 46); */
  color: black;
  text-align: center;
}

.svg-map {
  width: 800px !important;

}

.svg-map__location {
  stroke: rgb(248, 187, 46)  !important;
  fill: black!important;
  stroke-width: 1.3 !important;

}

path:hover, circle:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: white !important;
  cursor: pointer;
}

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #BF0A30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

.pleasework {
  padding-left: 1px;
}

.ui.button {
  background: rgb(248, 187, 46) !important;
}

.ui.button:hover {
  background: rgb(238, 196, 99) !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
